/* SET VARIABLES */
:root{
    --primary-color: #027C7D;
    --secondary-color: #E6006A;
    --bg-color: #000000;
    --text-color: #FFFFFF;

    --text: 24px;
    --title: 64px;
    --subtitle: 30px;
}

/* GLOBAL SETTINGS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-size: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

/* TEXT ELEMENTS */
h1{
    font-size: var(--title);
    color: var(--primary-color);
}
h2, h3{
    font-size: var(--subtitle);
}
.script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* LAYOUT */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
article{
    margin: 20px 0px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 16px;
    padding: 16px;
}

/* ELEMENTS */
input{
    margin-bottom: 5px;
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 10px;
    outline: unset;
}
.btn{
    width: fit-content;
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* REUSABLE PROPERTIES */
.large{
    width: 100%;
}
.disable{
    display: none;
}